---
---

@import "{{ site.theme }}";

.sc {
  font-variant: small-caps;
}

.markdown-body {
  pre code,
  pre tt {
    display: inline;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  li {
    word-break: break-all;
  }
}
